@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

.main-container {
    @apply flex flex-col bg-purple-100 items-center justify-center text-purple-900 w-full h-full;
    clip-path: ellipse(220% 80% at 50% 20%);

    @screen md {
        clip-path: ellipse(160% 80% at 50% 20%);
    }
}

.header-container {
    @apply bg-purple-100 text-white w-full;
    clip-path: ellipse(120% 50% at 50% 20%);

    @screen md {
        clip-path: ellipse(120% 50% at 50% 25%);
    };
}

.sm-hidden {
    @apply hidden md:block absolute;
}

.sub-header-container {
    @apply flex flex-col bg-purple-900 pb-56;
}

.apply-link {
    @apply font-manrope font-bold text-preset4;
}

.green-underline {
    @apply border-b-[3px] border-green;
}

.nav-container {
    @apply flex flex-row justify-between px-5 pt-8;
}

.hero {
    @apply flex flex-row items-center text-center justify-center relative overflow-hidden;
}

.hero-container {
    @apply flex flex-col space-y-10 items-center justify-center px-5 pt-14 pb-36;
}

.hero-h1 {
    @apply font-fraunces font-semibold text-sm-preset1 text-center md:text-md-preset1;
}

.green-button {
    @apply px-8 py-3 bg-green text-purple-900 font-manrope text-base font-bold;
}

.illustration {
    @apply absolute top-96 h-[184px] md:h-[296px] md:top-[25rem];
}

.article-container {
    @apply flex flex-col bg-purple-100 items-center justify-center h-full w-screen space-y-8 px-5 pb-16 -mt-16 md:mt-0 md:px-11 md:pt-14 md:pb-40;
}

.section-text-container {
    @apply flex flex-col space-y-6 items-center justify-center text-center md:flex-row md:justify-between md:space-x-14;
}

.section-text-details {
    @apply flex flex-col items-center justify-center space-y-6 md:justify-start md:items-start md:text-start;
}

.section-h1 {
    @apply flex items-center justify-center rounded-full font-semibold font-fraunces text-sm-preset5 border border-purple-900 w-12 h-12 md:p-6;
}

.section-h2 {
    @apply font-semibold text-sm-preset3 md:text-md-preset3 font-fraunces;
}

.section-h3 {
    @apply font-manrope text-sm-preset4;
}

.aside-section-container {
    @apply flex flex-col space-y-2 px-5 pt-28 md:px-11 md:pt-52;
}

.aside-subsection-container {
    @apply -space-y-14 items-center flex flex-col md:flex-row md:-space-x-28;
}

.headshot-container {
    @apply flex flex-col items-center md:self-start;
}

.headshot {
    @apply relative -z-10 min-w-[280px] min-h-[280px] md:-top-56;
}

.aside-text-container {
    @apply flex flex-col space-y-8 px-8 py-8 bg-purple-900 text-center justify-center md:self-end md:text-left md:items-start;
}

.aside-h1 {
    @apply font-fraunces font-semibold text-sm-preset2 md:text-md-preset2;
}

.aside-text {
    @apply font-manrope text-sm-preset4;
}

.aside-button-container {
    @apply flex flex-row justify-around;
}

.footer {
    @apply flex flex-col space-y-2 px-20 py-20;
}

.footer-container {
    @apply flex flex-col space-y-14 items-center;
}

.social-media {
    @apply flex flex-row space-x-7 justify-between;
}
